* {
  /* border: .10em solid green; */
  font-family: 'Open Sans', sans-serif;
}

body {
  height: auto;
  width: auto;
}

main {
  display: flex;
}

/* LEFT SIDEBAR */
.container-left {
  background: #1F1F3D;
  height: 140vh;
  width: 20vw;
}

.heading {
  font-size: 15px;
  color: #E9E9F3;
  font-weight: 700;
  padding: .5em;
  margin: .5em;
}

.starred-ideas-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 15vh;
  border-top: 0.15em solid #353567;
  border-bottom: .15em solid #353567;
  padding: .75em;
  margin: 0;
}

.starred-ideas {
  font-size: 12px;
  color: #BFBFDD;
  margin: 0;
}

.starred-ideas-button {
  font-size: 15px;
  color: #E9E9F3;
  background: #5356A4;
  border: none;
  padding: .5em 1.25em .40em 1.25em;
}


/* RIGHT SIDEBAR */
.container-right {
  display: flex;
  flex-direction: column;
  width: 77vw;
}

/* TOP CONTAINER */
.container-top {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #A9AAD2;
  height: 60vh;
}

.title-area,
.body-area {
  display: flex;
  flex-direction: column;
  width: 45%;
  color: #1F1F3D;
  font-size: 12px;
  font-weight: 700;
}

textarea {
  border: .15em #5356A4 solid;
  border-radius: .25em;
  outline: none;
  margin-top: .25em;
  resize: none;
}

.user-title {
  height: 3em;
}

.user-body {
  height: 6em;
}

.save-button {
  background: #1F1F3D;
  width: 45%;
  color: #EAEAf4;
  border: .15em #5356A4 solid;
  padding: .5em;
  border-radius: .25em;
  font-size: 15px;
}

.search-ideas-box {
  display: flex;
  border: .05em solid #1F1F3D;
  border-radius: .25em;
  height: 2.5em;
  width: 45%;
}

.search-img {
  background: #1F1F3D;
  height: 1.5em;
  width: 1.5em;
  padding: .5em;
  margin: 0;
}

.search-field {
  outline: none;
  width: 100%;
}

* {
  /* border: .15em solid green; */
}

/* BOTTOM CONTAINER */
.container-bottom {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  background: #EAEAF4;
  height: 80vh;
}

.idea-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 36vh;
  width: 18vw;
  margin: 1em;
}

.idea-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: .15em solid #1F1F3D;
  background: #1F1F3D;
  height: 12.5%;
  width: 100%;
  margin: 0;

}

.idea-content {
  border: .15em solid #1F1F3D;
  background: #ffffff;
  padding: .5em;
  height: 100%;
}

.idea-title {
  font-size: 15px;
}

.idea-body {
  margin: 0;
  font-size: 15px;
}

.idea-comment {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: .15em solid #1F1F3D;
  border-top: none;
  background: #5356A4;
  color: #ffffff;
  margin: 0;
  font-size: 15px;
}

.card-icon {
  height: 1.75em;
  width: 1.75em;
  padding: .10em;
}
